<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 本地数据库驱动程序jar包的全路径 -->
    <classPathEntry location="D:\Program Files\JetBrains\mysql-connector-java-5.1.6.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
         <!-- 设置不加注解           -->
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库的相关配置 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/springcloud_sell?characterEncoding=utf-8"
                        userId="root"
                        password="root">
        </jdbcConnection>


        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 实体类生成的位置 -->
        <javaModelGenerator targetPackage="com.imooc.sell.pojo" targetProject=".\src\main\java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- *Mapper.xml 文件的位置 -->
        <sqlMapGenerator targetPackage="mappers" targetProject=".\src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- Mapper 接口文件的位置 -->
        <javaClientGenerator targetPackage="com.imooc.sell.dao" targetProject=".\src\main\java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- 相关表的配置 -->
        <!--图片类型的会另生成一张表，需要加columnOverride column="sub_images" jdbcType="VARCHAR"-->
               <!-- <table tableName="mall_product" domainObjectName="Product" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false">
                    <columnOverride column="detail" jdbcType="VARCHAR" ></columnOverride>
                    <columnOverride column="sub_images" jdbcType="VARCHAR" ></columnOverride>
                </table>-->

<table tableName="order_detail" domainObjectName="Detail" enableCountByExample="false" enableDeleteByExample="false"
 enableSelectByExample="false" enableUpdateByExample="false"/>
<table tableName="order_master" domainObjectName="Master" enableCountByExample="false" enableDeleteByExample="false"
 enableSelectByExample="false" enableUpdateByExample="false"/>
<table tableName="product_category" domainObjectName="Category" enableCountByExample="false" enableDeleteByExample="false"
 enableSelectByExample="false" enableUpdateByExample="false"/>
<table tableName="product_info" domainObjectName="Info" enableCountByExample="false" enableDeleteByExample="false"
 enableSelectByExample="false" enableUpdateByExample="false"/>
<table tableName="seller_info" domainObjectName="SellerInfo" enableCountByExample="false" enableDeleteByExample="false"
 enableSelectByExample="false" enableUpdateByExample="false"/>

    </context>
</generatorConfiguration>